.input-description{
    width: 70%;
    height: 177px;
    font-size: 17px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fcfcfc;
    color: #FCFCFC;
    outline: none;
    text-align: start;
    padding-left: 20px;
    border-radius: 10px;
}